

.container{
    width:15em;
    margin: 0 0.2em;
    float: left;
    position:relative;
}
.container .darkMode{
color: yellowgreen;
}
.container .lightMode{
  color: black;
  }
button.darkMode, .darkMode button{
  background-color: black;
  border: 1px solid yellowgreen;
  color: white;
}
button.lightMode, .lightMode button{
  background-color: rgb(173, 172, 172);
  border: 1px solid black;
  color: black;
}
  .pic img{
    width: 100%;
  }
  .darkMode .title,  
  .darkMode .channel,  
  .darkMode .views{
    color: yellowgreen;
  }
  .lightMode .title,  
  .lightMode .channel,  
  .lightMode .views{
    color: black;
  }
  .title{
    font-weight: bold;
    margin-bottom: 1em;
  }
  .channel, .views{
    font-size: small;
    /* color:#ccc; */
    margin-bottom: 0.2em;
  }
  
  .views span{
    padding: 0 0.5em;
  }

  .close{
    position:absolute;
    right:0;
  }

  .edit{
    position:absolute;
    right: 5;;
  }